.container{
  width: 80%;
  height: 200px;
  margin: 3rem auto;
  border-radius: 10px;
  box-shadow: -1px 15px 21px -3px rgba(0,0,0,0.36);
}
.description{
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: 18px;
  font-weight: 500;
  padding: 1rem;
}
.title{
  text-align: center;
  font-family: 'fantasy';
  margin: 50px auto;
  letter-spacing: 2px;
  font-size: 50px;
  color: #fa573a;
}